<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h2><strong>Welcome to TinyApp!</strong></h2>
      <% for (var address in urls) { %>
        <% if (user) { %>

        <ul>
          <li>
            <form method="POST" action="/urls/<%= address %>/delete">
             <%= address + ' : ' %> <a href="/u/<%= address %>">
              <%= urls[address] %> </a> &nbsp
            <a href="/urls/<%= address %>">Edit</a> &nbsp
            <input type="submit" value="delete">
            </form>
          </li>
        </ul>
      <% } %>
    <% } %>
    <form action="/urls/new" method="GET" name="newURL">
      <a href="/urls/new">create new tiny url!</a>
    </form>
    <p>ShortUrls!</p>
    <% shortUrl.forEach(function (element) { %>
    <%= element %>
    <% }) %>
</body>
</html>