<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <div class="title">
    <a href="/urls/new">create new tiny url!</a>
    <h1><% for (var key in urls) { %>
    <h2> shortUrl: <a href="/u/<%= key %>"><%= key %></a> longUrl: <%= urls[key] %></h2>
      <form method="POST" action="/urls/<%= key %>/delete">
        <button type="submit">Delete</button>
        <a href="/urls/<%= key %>">Edit!</a>
      </form>
    <% }; %></h1>
  </div>
</body>
</html>