<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body style="font-size:20px; padding:50px;">
  <h2><strong>Welcome to TinyApp!</strong></h2>
      <% for (let address in urls) { %>
        <% if (user) { %>
        <ul>
          <li>
            <form method="POST" action="/urls/<%= address %>/delete">
            <%= address + ' : ' %> <a href="/u/<%= address %>">
            <%= urls[address] %> </a>
            <a href="/urls/<%= address %>">Edit</a>
            <input type="submit" value="delete">
            </form>
          </li>
        </ul>
      <% } else { %>
      <li><%= address + ' : ' %> <a href="/u/<%= address %>">
          <%= urls[address] %></a>
      </li>
      <% } %>
    <% } %>
  <div class="title">
    <form action="/urls/new" method="GET" name="newURL"
    <a href="/urls/new">create new tiny url!</a>
  </div>
</body>
</html>